body {
  background-color: rgb(185, 241, 241);
}

h1 {
  margin-top: 50px;
  text-decoration: underline;
  text-align: center;
  color: brown;
}

p,
ul {
  border: 1px solid brown;
  border-radius: 5px;
  margin: 60px 450px;
  padding: 20px;
  font-size: 19px;
}

a {
  font-size: 17px;
  display: block;
  text-align: center;
  color: brown;
}

ul {
  list-style: none;
  text-align: center;
}

img {
  padding: 5px;
  border: 2px solid brown;
  border-radius: 4px;
  margin: 5px;
}
